# Configuración de Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAuXXGs3B9mS_Eqz6TrOe7ho9g_CWIuNq4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=padelmatch-8bkoz.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=padelmatch-8bkoz
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=padelmatch-8bkoz.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=648814554920
NEXT_PUBLIC_FIREBASE_APP_ID=1:648814554920:web:87636584f09759be462a1d
